* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/background-japan.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
}
.website-header {
  margin-top: 80px;
  margin-bottom: 40px;
  width: 500px;
}
.image-website {
  width: 200px;
  height: 70px;
  background-image: url("../assets/Kanso-tag.png");
  background-size: cover;
  background-position: center;
  display: block;
  margin: 0 auto;
}
.name-website {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: rgb(46, 50, 87);
  margin-bottom: 80px;
}
.box-container {
  margin-top: 20px;
  margin-bottom: 100px;
  width: 380px;
  height: 380px;
  background-color: #f0ece7;
  border-radius: 16px;
  margin: 0 auto;
}
.login-title {
  text-align: center;
  color: rgb(46, 50, 87);
  font-weight: 600;
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.input-box {
  position: relative;
  width: 79%;
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  margin: 20px 0;
}
.title-text {
  font-weight: 500;
  font-size: 16px;
  padding-left: 1px;
  margin-bottom: 6px;
}
.texting {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
  background-color: #f0ece7;
}
.texting:focus {
  outline: none;
  box-shadow: none;
}
.login-button {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: rgb(46, 50, 87);
  color: white;
  border-radius: 10px;
  border-width: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.login-button:hover {
  background-color: rgba(46, 50, 87, 0.9);
}
.login-button:active {
  background-color: rgba(46, 50, 87, 0.5);
}
.register-text {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}
.register-logo {
  color: rgb(46, 50, 87);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.register-logo:hover {
  font-weight: bold;
  text-decoration: none;
}
.register-logo:active {
  color: rgba(46, 50, 87, 0.5);
  text-decoration: none;
}
